.popup__save_inactive {
  background: white;
  color: #000000;
  opacity: 0.2;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 2px;
}

.popup__save_inactive:hover {
  background: rgba(0, 0, 0, 0);
}
