.header__register {
  max-width: 114px;
  min-height: 22px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #FFFFFF;
  margin-top: 0;
  text-decoration: none;
}
